.dash-container {
    padding: 30px;
    color: #c9d1d9;
    width: 100%;
}

.dash-title {
    text-align: center;
    margin-bottom: 30px;
}

.dash-cards {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dash-card {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 20px;
    border-radius: 10px;
    width: 23%;
    text-align: center;
}

.dash-card h3 {
    margin-bottom: 10px;
    color: #8b949e;
}

.dash-card span {
    font-size: 2rem;
    font-weight: bold;
}

.dash-charts {
    display: flex;
    gap: 20px;
}

.dash-chart-card {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}
