spring:
  datasource:
    url: jdbc:h2:mem:projectflow_db
    username: sa
    password: ''
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console
logging:
  level:
    org.hibernate.SQL: DEBUG
api:
  security:
    token:
      secret: "minha-chave-ultra-secreta-super-segura-para-ambiente-de-desenvolvimento-2025"